<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (hasProducts) { %>
            <header>
                <h1>Cart</h1>
            </header>

            <ul>
                <% cartData.map(productData => { %>
                    <li>
                        <p>
                            <%= productData.product.title %> (<%= productData.qty %>)
                            <form action="/cart" method="POST">
                                <input type="hidden" name="productId" value="<%= productData.product.id %>">
                                <input type="hidden" name="action" value="remove">
                                <button class="btn" type="submit">Remove</button>
                            </form>
                        </p>
                    </li>
                <% }) %>
                </ul>
        <% } else { %>
            <header>
                <h1>Cart - No Products</h1>
            </header>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>