<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (hasOrders) { %>
            <header>
                <h1>Orders</h1>
            </header>

            <ul>
                <% orders.map(order => { %>
                    <li>
                        <h1>#<%= order.id %></h1>
                        <ul>
                            <% order.products.map(product => { %>
                                <li class="card product-item">
                                    <%= product.title %>
                                </li>
                            <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <header>
                <h1>Orders - No orders</h1>
            </header>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>